[user]
 name = Christopher Adams
 email = christopher.r.adams@gmail.com
[core]
 excludesfile = ~/.gitignore_global
[color]
 branch = auto
 diff = auto
 status = auto
[color "branch"]
 current = yellow reverse
 local = yellow
 remote = green
[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = brightred
 new = brightgreen
[color "status"]
 added = yellow
 changed = green
 untracked = cyan
[push]
 default = simple
 autoSetupRemote = true
[grep]
 lineNumber = true
[init]
 defaultBranch = main
[credential]
 helper = cache
[include]
 path = ~/.gitconfig_local
